:root {
  --bg-white-color: #ffffff;
  --main-blue-color: #2b7fff;
  --main-dark-blue: #011c44;
  --main-txt-color: #4a4a4a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-white-color);
  color: var(--main-txt-color);
  font-family: Roboto;
}
.container {
  width: 1240px;
}

header {
  display: flex;
  background-color: #ffffff40;
}

.header-nav {
  display: flex;
}

.header-logo {
  margin-right: 256px;
}

.nav-links {
  display: flex;
  gap: 56px;
}

.header-contacts {
  margin-left: auto;
}

/*Hero*/
.hero-title {
  font-family: Play;
  font-weight: 700;
  font-size: 140px;
  color: var(--main-blue-color);
  width: 575px;
}
.hero-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--main-dark-blue);
}

.hero-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--bg-white-color);
  background-color: var(--main-blue-color);
  padding: 16px 32px;
  border-radius: 32px;
  border-color: var(--main-blue-color);
  border-width: 0;
}

.hero-p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  width: 238px;
}
