.button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;

  color: var(--main-color-white);
  background-color: var(--main-color-blue);
  padding: 16px 32px;
  border-radius: 32px;
  border-color: var(--main-color-blue);
  border: 2px solid var(--main-color-blue);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--main-color-dark);
  }
}
