:root {
  --main-color-white: #ffffff;
  --main-color-blue: #2b7fff;
  --main-color-dark: #011c44;
  --seconday-color-dark-grey: #4a4a4a;
  --seconday-color-light-gray: #747272;
  --seconday-color-dark: #011f4a;
  --accent-color-yellow: #ffd02b;
}
